html, body
	background: red;
.header
	width: 100px; height: 200px; background: red;
	nav
		font-size: 14px; box-sizing: border-box; transition: all 1s;
footer
	width: 100%; height: 50px; background: green;