.grid {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  display: grid;
  gap: 10px;
  transition: 0.5s;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  transition: 0.5s;
}
.grid .item:nth-child(9) {
  background: hsl(0, 100%, 50%);
}
.grid .item:nth-child(9):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(9):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item:nth-child(8) {
  background: hsl(320, 100%, 50%);
}
.grid .item:nth-child(8):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(8):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item:nth-child(7) {
  background: hsl(280, 100%, 50%);
}
.grid .item:nth-child(7):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(7):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item:nth-child(6) {
  background: hsl(240, 100%, 50%);
}
.grid .item:nth-child(6):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(6):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item:nth-child(5) {
  background: hsl(200, 100%, 50%);
}
.grid .item:nth-child(5):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(5):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item:nth-child(4) {
  background: hsl(160, 100%, 50%);
}
.grid .item:nth-child(4):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(4):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item:nth-child(3) {
  background: hsl(120, 100%, 50%);
}
.grid .item:nth-child(3):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(3):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item:nth-child(2) {
  background: hsl(80, 100%, 50%);
}
.grid .item:nth-child(2):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(2):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .item:nth-child(1) {
  background: hsl(40, 100%, 50%);
}
.grid .item:nth-child(1):hover {
  font-size: 32px;
}
.grid:has(.item:nth-child(1):hover) {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
